@charset "ISO-8859-1";
body
{
  
  margin:0;
  padding:0;
  background:url(https://tse1.mm.bing.net/th?id=OIP.BKzxpOSVFgdDaRXEGH0B5wHaEo&pid=Api&P=0&w=278&h=175);
  background-size:cover;
  font-family: sans-serif; 
}